.create{
    color: green;
    font-size: xx-large; 
}

.button1{
    color: green;
}
.button2{
    color: green;
}

h3{
    font-size:large;
    color: green;
}

/* body{
    background-color:black;
} */

label{
    color: green;
    font-size: xx-large;
}
.or{
    color: green;
}
h4{
    color: green;
}
h3{
    color: green;
}
h1{
    color: green;
}

